gitlabUrl: {{ gitlabUrl }}
runnerRegistrationToken: "{{ runnerRegistrationToken }}"
concurrent: 10
checkInterval: 30

rbac:
  create: true
  clusterWideAccess: false

runners:
  image: ubuntu:18.04
  privileged: true
  namespace: brezel

  builds:
    cpuRequests: 100m
    memoryRequests: 128Mi

  services:
    cpuRequests: 100m
    memoryRequests: 128Mi

  helpers:
    cpuRequests: 100m
    memoryRequests: 128Mi
